In [1]:
# Dependencies
import pandas as pd
import os
import numpy as np

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [3]:
school_data.head(10)

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500
5          5     Wilson High School   Charter  2283  1319574
6          6    Cabrera High School   Charter  1858  1081356
7          7     Bailey High School  District  4976  3124928
8          8     Holden High School   Charter   427   248087
9          9       Pena High School   Charter   962   585858

In [4]:
student_data.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [5]:
#Intentionally left blank

In [6]:
#                                    District Summary
#Calculate the total number of schools
#Calculate the total number of students
#Calculate the total budget
#Calculate the average math score
#Calculate the average reading score
#Calculate the percentage of students with a passing math score (70 or greater)
#Calculate the percentage of students with a passing reading score (70 or greater)
#Calculate the percentage of students who passed math and reading (% Overall Passing)
#Create a dataframe to hold the above results
#Optional: give the displayed data cleaner formatting

In [7]:
#Total # of Schools
total_school_count= school_data_complete["school_name"].unique()
total_school = len(total_school_count)
total_school

15

In [8]:
#Total # of Students
total_student_count = school_data_complete["Student ID"].unique()
total_student_count = len(total_student_count)
total_student_count

39170

In [9]:
#Calculate the total budget
schools= school_data_complete["budget"].unique()
district_school_budget = schools.sum()
district_school_budget

24649428

In [10]:
#Calculate the average math score
math_avg_score = school_data_complete["math_score"].mean()
math_avg_score

78.98537145774827

In [11]:
#Calculate the average reading score
reading_avg_score = school_data_complete["reading_score"].mean()
reading_avg_score

81.87784018381414

In [12]:
#Calculate the percentage of students with a passing math score (70 or greater)
#passing_math = school_and_student_data.loc[(school_and_student_data ["math_score"] >= 70)]

passing_math = school_data_complete.loc[(school_data_complete["math_score"] >= 70)]
math_students_over_grade_70_count = len(passing_math)

math_passing_score= (math_students_over_grade_70_count/total_student_count)*100
math_passing_score

74.9808526933878

In [13]:
#Calculate the percentage of students with a passing reading score (70 or greater)

passing_reading = school_data_complete.loc[(school_data_complete["reading_score"] >= 70)]
reading_students_over_grade_70_count = len(passing_reading)

reading_passing_score= (reading_students_over_grade_70_count/total_student_count)*100
reading_passing_score

85.80546336482001

In [14]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
total_passed_math =len(passing_math)
total_passed_reading =len(passing_reading)
total_passing= total_passed_math + total_passed_reading
total_passing
total_passing_percentage = (total_student_count/total_passing)*100
total_passing_percentage

62.194347411876784

In [15]:
#Create a dataframe to hold the above results

district_summary_df= pd.DataFrame({"Total Schools": [total_school],
                                    "Total Students":[total_student_count],
                                    "Total_Budget":[district_school_budget],
                                    "Average Math Scores": [math_avg_score],
                                    "Average Reading Scores":[reading_avg_score],
                                    "% Passing Math": [math_passing_score],
                                    "% Passing Reading":[reading_passing_score],
                                    "% Overall Passing":[total_passing_percentage]})

district_summary_df.reindex

#example:assignee_work_df = assignee_work_df.reset_index()
district_summary_df.reset_index()
district_summary_df

,Total Schools,Total Students,Total_Budget,Average Math Scores,Average Reading Scores,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,62.194347

In [16]:
#Optional: give the displayed data cleaner formatting
#example: hosted_in_us_df["average_donation"] = hosted_in_us_df["average_donation"].astype(float).map("${:,.2f}".format)
district_summary_df["Total_Budget"] = district_summary_df["Total_Budget"].map("${:,.2f}".format)
district_summary_df["Average Math Scores"] = district_summary_df["Average Math Scores"].map("{:,.2f}%".format)
district_summary_df["Average Reading Scores"] = district_summary_df["Average Reading Scores"].map("{:,.2f}%".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:,.2f}%".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:,.2f}%".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:,.2f}%".format)

district_summary_df

,Total Schools,Total Students,Total_Budget,Average Math Scores,Average Reading Scores,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",78.99%,81.88%,74.98%,85.81%,62.19%

In [17]:
#Space intentially left blank

In [18]:
#                                      School Summary
# Create an overview table that summarizes key metrics about each school, including:

# School Name
# School Type
# Total Students
# Total School Budget
# Per Student Budget
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# % Overall Passing (The percentage of students that passed math and reading.)
# Create a dataframe to hold the above results

In [54]:
groupedschool = school_data_complete.groupby['school_name']
groupedschool

TypeError: 'method' object is not subscriptable

In [22]:
school_avg = school_df.mean()
school_avg

Student ID       1.958450e+04
reading_score    8.187784e+01
math_score       7.898537e+01
School ID        6.978172e+00
size             3.332957e+03
budget           2.117241e+06
dtype: float64

In [23]:
reading_avg_score = school_data_complete['math_score'].mean()
reading_avg_score

78.98537145774827

In [24]:
passing_math = school_data_complete.loc[(school_data_complete["math_score"] >= 70)]
math_students_over_grade_70_count = len(passing_math)

math_passing_score= (math_students_over_grade_70_count/total_student_count)*100
math_passing_score

74.9808526933878

In [25]:

passing_reading = school_data_complete.loc[(school_data_complete["reading_score"] >= 70)]
reading_students_over_grade_70_count = len(passing_reading)

reading_passing_score= (reading_students_over_grade_70_count/total_student_count)*100
reading_passing_score

85.80546336482001

In [26]:

district_summary_df= pd.DataFrame({"Total Schools": [total_school],
                                    "Total Students":[total_student_count],
                                    "Total_Budget":[district_school_budget],
                                    "Average Math Scores": [math_avg_score],
                                    "Average Reading Scores":[reading_avg_score],
                                    "% Passing Math": [math_passing_score],
                                    "% Passing Reading":[reading_passing_score],
                                    "% Overall Passing":[total_passing_percentage]})
district_summary_df

,Total Schools,Total Students,Total_Budget,Average Math Scores,Average Reading Scores,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,78.985371,74.980853,85.805463,62.194347

In [27]:
                                    #SCHOOL SUMMARY

#Create an overview table that summarizes key metrics about each school, including:

#School Name
#School Type
#Total Students
#Total School Budget
#Per Student Budget
#Average Math Score
#Average Reading Score
#% Passing Math
#% Passing Reading
#% Overall Passing (The percentage of students that passed math and reading.)
#Create a dataframe to hold the above results

In [28]:
# Combine the data into a single dataset.  
school_data_complete.head(5)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [29]:
schools_grouped = school_data_complete.groupby(["school_name"])
schools_grouped

In [30]:
#Total Students
school_size = schools_grouped["size"].max()
school_size
#Total School Budget
#Per Student Budget
#Average Math Score
#Average Reading Score
#% Passing Math
#% Passing Reading
#% Overall Passing (The percentage of students that passed math and reading.)
#Create a dataframe to hold the above results

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: size, dtype: int64

In [31]:
#Total School Budget
school_budget = schools_grouped["budget"].max()
school_budge_format=school_budget.map("${:,.2f}".format)
school_budge_format

school_name
Bailey High School       $3,124,928.00
Cabrera High School      $1,081,356.00
Figueroa High School     $1,884,411.00
Ford High School         $1,763,916.00
Griffin High School        $917,500.00
Hernandez High School    $3,022,020.00
Holden High School         $248,087.00
Huang High School        $1,910,635.00
Johnson High School      $3,094,650.00
Pena High School           $585,858.00
Rodriguez High School    $2,547,363.00
Shelton High School      $1,056,600.00
Thomas High School       $1,043,130.00
Wilson High School       $1,319,574.00
Wright High School       $1,049,400.00
Name: budget, dtype: object

In [32]:
# School Budget (per Student)

school_budget = schools_grouped["budget"].max()
student_count = schools_grouped["size"].max()
budget_per_student = school_budget/student_count
budget_per_student.map("${:,.2f}".format)

school_name
Bailey High School       $628.00
Cabrera High School      $582.00
Figueroa High School     $639.00
Ford High School         $644.00
Griffin High School      $625.00
Hernandez High School    $652.00
Holden High School       $581.00
Huang High School        $655.00
Johnson High School      $650.00
Pena High School         $609.00
Rodriguez High School    $637.00
Shelton High School      $600.00
Thomas High School       $638.00
Wilson High School       $578.00
Wright High School       $583.00
dtype: object

In [33]:
##Average Math Score
school_avg_math = schools_grouped["math_score"].mean()
school_avg_math.map("{:,.1f}%".format)

school_name
Bailey High School       77.0%
Cabrera High School      83.1%
Figueroa High School     76.7%
Ford High School         77.1%
Griffin High School      83.4%
Hernandez High School    77.3%
Holden High School       83.8%
Huang High School        76.6%
Johnson High School      77.1%
Pena High School         83.8%
Rodriguez High School    76.8%
Shelton High School      83.4%
Thomas High School       83.4%
Wilson High School       83.3%
Wright High School       83.7%
Name: math_score, dtype: object

In [34]:
#Average Reading Score
school_avg_reading = schools_grouped["reading_score"].mean()
school_avg_reading.map("{:,.1f}%".format)

school_name
Bailey High School       81.0%
Cabrera High School      84.0%
Figueroa High School     81.2%
Ford High School         80.7%
Griffin High School      83.8%
Hernandez High School    80.9%
Holden High School       83.8%
Huang High School        81.2%
Johnson High School      81.0%
Pena High School         84.0%
Rodriguez High School    80.7%
Shelton High School      83.7%
Thomas High School       83.8%
Wilson High School       84.0%
Wright High School       84.0%
Name: reading_score, dtype: object

In [38]:
#% Passing Math

school_math_pass = school_data_complete.loc[(school_data_complete["math_score"] >= 70)]
school_math_passing = len(school_math_pass)

school_math_passing = (school_math_passing/school_math_passing)*100
school_math_passing

100.0

In [41]:
#% Passing Reading
school_reading_pass = school_data_complete.loc[(school_data_complete["reading_score"] >= 70)]
school_reading_passing = len(school_reading_pass)

school_reading_passing = (school_reading_passing/school_reading_passing)*100
school_reading_passing

100.0

In [43]:
#% Overall Passing (The percentage of students that passed math .)
#% Passing Math

school_math_pass = school_data_complete.loc[(school_data_complete["reading_score"]&school_data_complete["Student ID"]>= 70)]
school_math_pass

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
70,70,Angela Francis,F,12th,Huang High School,70,60,0,District,2917,1910635
73,73,Kyle Martin,M,10th,Huang High School,72,94,0,District,2917,1910635
76,76,Erin Liu,F,9th,Huang High School,78,76,0,District,2917,1910635
79,79,Elizabeth Mckinney,F,9th,Huang High School,74,81,0,District,2917,1910635
81,81,Lisa Frye,F,12th,Huang High School,94,73,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130

In [44]:
school_math_passing = len(school_math_pass)

school_math_passing = (school_math_passing/school_math_passing)*100
school_math_passing

100.0

In [47]:
#Create a dataframe to hold the above results

In [49]:

schools_grouped_df= pd.DataFrame({
                                    "Type":[type],
                                    "Total_Budget":[district_school_budget],
                                    "student_name": [student_name],
                                    "Average Reading Scores":[reading_avg_score],
                                    "% Passing Math": [math_passing_score],
                                    "% Passing Reading":[reading_passing_score],
                                    "% Overall Passing":[total_passing_percentage]})
schools_grouped_df

NameError: name 'student_name' is not defined

In [ ]:
### Top Performing Schools (By % Overall Passing)

* Create a table that highlights the top 5 performing schools based on % Overall Passing. Include:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math (The percentage of students that passed math.)
  * % Passing Reading (The percentage of students that passed reading.)
  * % Overall Passing (The percentage of students that passed math **and** reading.)

### Bottom Performing Schools (By % Overall Passing)

* Create a table that highlights the bottom 5 performing schools based on % Overall Passing. Include all of the same metrics as above.

### Math Scores by Grade\*\*

* Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

### Reading Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

### Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math (The percentage of students that passed math.)
  * % Passing Reading (The percentage of students that passed reading.)
  * % Overall Passing (The percentage of students that passed math **and** reading.)

### Scores by School Size

* Repeat the above breakdown, but this time group schools based on a reasonable approximation of school size (Small, Medium, Large).

### Scores by School Type

* Repeat the above breakdown, but this time group schools based on school type (Charter vs. District).

As final considerations:

* Use the pandas library and Jupyter Notebook.
* You must submit a link to your Jupyter Notebook with the viewable Data Frames.
* You must include a written description of at least two observable trends based on the data.
* See [Example Solution](PyCitySchools/PyCitySchools_starter.ipynb) for a reference on the expected format.